{% extends "base.html" %}

{% block content %}
<p>Qureka is an open-source Q&A website for coders and programming learners.</p>
<p>Whether you have a question about a specific language, setting up your dev environment, or anything else, try asking it here!</p>
<!-- <p>You should also join our Discord server if you haven't yet here: <a href="https://csdojo.io/d" target="_blank">https://csdojo.io/d</a></p> -->
<p>If you have any feature requests or bug reports, please DM at <a href="https://instagram.com/rohitk5252" target="_blank">@rohitk5252</a>, email me on <a href="mailto:brotuscode@gmail.com" target="_blank">this email</a>.</p>
{% endblock %}